[project]
name = "martial-madness"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.8",
    "xarray>=2026.1.0",
    "zarr>=3.1.5",
]
